body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/reg_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для контраста */
    padding: 20px;
    border-radius: 10px;
}

.logo {
    max-width: 100px;
    height: auto;
}

.text {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #f6f6f6;
    max-width: 520px;
    margin-top: 20px;
}


 